/* 
- #8D8741 - brown/green
- #659DBD - blue
- #DAAD86 - tan/pink
- #BC986A - Light brown
- #FBEEC1 - Sand color
 */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #659DBD;
    text-align:center;
}

#return-button {
    color:black;
    font-weight: bold;
    font-size: larger;

    position: relative;
    background-color:#83bf54;
    top: 10px;
    left: 10px;
    width: 100px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    
}

#return-button:hover {
    background-color: #6ca944;
}

#return-button i {
    margin-right: 5px;
}

#return-button a {
    color: inherit; /* Inherit color from parent (#return-button) */
    text-decoration: none; /* Remove underline */
}

#card-title {
    color: #000000;
    font-size: x-large;
}

#card-description {
    color: rgb(0, 0, 0);
    
}

#card-description p {
    margin-bottom: 0px;
}

.activity-container {
    background-color: #d6d3ca;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 50px;
    margin: 0px;
    max-width: 400px;

    position: relative;
    transform: translate(-50%, -50%);
    top: 100px;
    left: 50%;
}

