body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #659DBD;
}

.container {
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}
.welcome {
    margin-bottom: -50px;
    text-decoration: underline;
    font-size: 20px;
    font-family: "Poppins", sans-serif;

}
.title-header { 
    color: 'white';
    font-size: 60px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}
.text-description {
    color: 'white';
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin-top: -15px;
}

.buttons {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-btn, .login-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 10px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
}

.signup-btn {
    background-color: #659DBD;
    color: #ffffff;
    text-decoration: underline;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}

.login-btn {
    background-color: #ffffff;
    color: #659DBD;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
}
.earth-img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    z-index: -1; 
}
.plane-img {
    position: absolute;
    top: 15%;
    left: 5%;
    height: 80%;
}
.form-input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 140%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Updated shadow effect */
    width: 20%;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #659DBD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #5084A3;
}